{% extends 'base.html.twig' %}

{% block body %}
  {% if messages|length > 0 %}
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
  {% else %}
    <div>There's nothing here!</div>
  {% endif %}
{% endblock %}